.card-component {
  flex-grow: 1;
  min-width: 240px;
  height: 148px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (min-width: 1024px) {
    opacity: .85;
    transition: .25s all;

    &:hover {
      opacity: 1;
      transform: scale(1.025);

      footer {
        opacity: 1;
      }
    }
  }


  header {
    .label-header {
      display: flex;
      justify-content: space-between;
      padding: 3px 0;

      span {
        color: var(--color-grey-light);
        font-size: 12px;
      }
    }

    h3 {
      color: var(--color-grey-normal);
      margin: 3px 0 3px 0;
      letter-spacing: 0.5px;
      font-size: 16px;
    }
  }

  main {
    flex-grow: 1;

    p {
      color: var(--color-grey-dark);
      margin: 6px 0 0;
      font-size: 10px;
      max-height: 60px;

      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      white-space: normal;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }

  footer {
    opacity: .85;
    transition: .25s all;
  }
}
