<mat-card class="card-component">
  <header>
    <div class="label-header">
      <span>{{ post?.author }}</span>
      <span>{{ post?.publish_date }}</span>
    </div>
    <h3>{{ post?.title }}</h3>
  </header>
  <main>
    <p>{{ post?.description }}</p>
  </main>
  <footer>
    <button mat-raised-button color="primary" (click)="openCard(post?.id)">Read more</button>
  </footer>
</mat-card>
