.card-list-component {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  max-height: calc(100% - 90px);

  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;

  &::-webkit-scrollbar {
    background: transparent;
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-accent-opacity-75);
    border-radius: 12px;
  }

  app-card {
    flex-grow: 1;
  }
}
