.posts-component {
  display: flex;
  justify-content: space-between;
  height: 100%;

  .aside-comments {
    min-width: 25vw;
    max-width: 25vw;

    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }
}
