.most-commented-list {
  padding: 16px;

  mat-card {
    opacity: .5;
    cursor: pointer;
    transition: .25s all;

    &:hover {
      opacity: 1;
      transform: scale(1.025);
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
