<app-section-header title="Most commented"></app-section-header>
<div class="most-commented-list">
  <mat-card
    matBadgeColor="accent"
    [matBadge]="post.numberOfComments"
    matBadgeSize="large"
    *ngFor="let post of mostCommentedPosts"
    class="each-post"
    (click)="openPost(post.id)"
  >
    <mat-card-title> {{ post.title }} </mat-card-title>
    <mat-card-subtitle> {{ post.author }} </mat-card-subtitle>
  </mat-card>
</div>
