header,
main,
footer {
  margin: 16px;
}

header {
  overflow: hidden;
  height: 74px;

  .header-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    opacity: .85;

    h1 {
      position: relative;
      margin: 0;
      text-align: center;
      background: linear-gradient(
        to right,
        var(--color-warn),
        var(--color-accent),
        var(--color-primary)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 3px;
      font-size: 24px;
    }

    .by-label {
      margin-top: 3px;
      color: var(--color-warn-opacity-75);
      text-align: center;
      font-size: 10px;
      width: 100%;
      letter-spacing: 1px;
    }
  }
}

main {
  height: calc(100vh - 74px - 32px - 16px);
}
