<header>
  <mat-card class="header-card">
    <button *ngIf="!isHomepage; else emptyBlock" mat-icon-button color="primary" (click)="goBackToHomepage()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <ng-template #emptyBlock>
      <span></span>
    </ng-template>
    <div>
      <h1>LetsGetBlogged</h1>
      <div class="by-label">by Francisco Verdasca</div>
    </div>
    <span></span>
  </mat-card>
</header>
<main>
  <router-outlet></router-outlet>
</main>
