.section-header-component {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;

  h2 {
    margin: 0;
    color: var(--color-grey-medium);
    font-size: 20px;
    letter-spacing: 2px;
  }
}
