.post-page-component {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 48px 0;
  height: calc(100% - 96px);
  overflow: auto;

  &::-webkit-scrollbar {
    background: transparent;
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-accent-opacity-75);
    border-radius: 12px;
  }

  app-single-post-card, app-single-post-comments {
    width: 40%;
    min-width: 340px;
    max-width: 80%;
  }
}
