<mat-card *ngIf="post" class="single-post-card-component">
  <mat-card-title>{{ post.title }}</mat-card-title>
  <mat-card-subtitle>{{ post.author }}</mat-card-subtitle>
  <mat-card-content class="content">
    <p [innerHTML]="post.content"></p>
  </mat-card-content>
</mat-card>
