/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  --color-white: #fff;
  --color-grey-light: #999;
  --color-grey-medium: #555;
  --color-grey-dark: #111;
  --color-black: #000;

  --color-primary: #673ab7;
  --color-accent: #ffd740;
  --color-warn: #f44336;

  --color-primary-opacity-75: rgba(103, 58, 183, .75);
  --color-accent-opacity-75: rgba(255, 215, 64, .75);
  --color-warn-opacity-75: rgba(244, 67, 54, .75);
  --color-white-opacity-25: rgba(255, 255, 255, .25);

  background: linear-gradient(to right, var(--color-warn-opacity-75), var(--color-accent-opacity-75), var(--color-primary-opacity-75));
}

button.mat-button-base,
mat-card.mat-card {
  border-radius: 25px;
}
