<mat-card class="single-post-comments-component">
  <mat-list>
    <div mat-subheader>
      Comments
      <span class="last-on-top">(Last on top)</span>
    </div>
    <mat-list-item
      *ngFor="let comment of comments$ | async"
      class="comment-item"
    >
      <mat-icon mat-list-icon>comment</mat-icon>
      <p class="comment-line-text" mat-line>{{ comment.content }}</p>
      <div class="comment-line-text" mat-line>
        <span class="comment-info">{{ comment.user }}</span>
        <span class="comment-info">{{ comment.date }}</span>
      </div>
    </mat-list-item>
  </mat-list>

  <div class="single-post-insert-comment">
    <form class="comment-form" [formGroup]="commentForm">
      <mat-form-field appearance="fill">
        <mat-label>Your name</mat-label>
        <input
          formControlName="nameForm"
          matInput
          placeholder="Whats your name"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Leave a comment</mat-label>
        <textarea
          formControlName="commentForm"
          matInput
          placeholder="Give your opinion.."
        ></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        color="warn"
        (click)="insertComment()"
      >
        Insert comment
      </button>
    </form>
  </div>
</mat-card>
