.single-post-comments-component {
  background: var(--color-white-opacity-25);

  .last-on-top {
    margin-left: 6px;
    font-weight: 300;
  }

  .comment-item {
    display: flex;
    align-items: center;
    min-height: 60px;
    height: max-content;
    padding: 6px 0;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-grey-light);
    }

    .comment-line-text {
      color: var(--color-grey-dark);
      padding: 3px 0;
      white-space: normal;
      overflow: auto;

      .comment-info {
        color: var(--color-grey-medium);
        font-weight: 300;

        &:not(:last-child) {
          margin-right: 6px;
        }
      }
    }
  }

  .single-post-insert-comment {
    margin-top: 24px;

    .comment-form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      mat-form-field {
        width: 100%;

        textarea {
          resize: none;
        }
      }
    }
  }
}

